
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;600;700;800;900;1000&display=swap');
*{
    font-family: 'Mulish', sans-serif;
   
    }
.icone{
     display: inline-flex;
     gap: 10px;
    
}


.menu > ul > li{
    display: inline-flex;
    padding: 5px 0px;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 40px;  
}
.nav{
    width: 800px;
    margin-left: 135px;
    margin-right: 135px;
    margin-top: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.menu .humburger{
    display: none;
}


@media screen and (min-width:992px) {
    .nav{
        flex-direction: row;
       
   }
   
}
@media screen and (max-width: 600px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
        width: 400px;
    }
    
    .menu .small{
        display: none;
    }
    .menu .humburger{
        display: inline-block;
    }
    }
    

    

.banner .bnr-bg {display: grid;
        background-image: url('../images/bbk.png');
        background-size: cover;
        width: 900px;
        height: 575px;
        
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 16px;
        background: linear-gradient(rgba(53, 15, 157, 0));
        margin-left: 135px;
        margin-right: 135px;
        margin-top: 49px;




     }
    
   .search-form{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
   
    gap: 15px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
   

  
        
   }
   .placeholder-a{
    height: 42px;
    flex-shrink: 0;
    border-radius: 8px;
    border: none;
    background: #FFF;
}

   @media screen and (min-width:992px) {
    .bnr-bg{
        flex-direction: row;
    
}

}
@media screen and (max-width: 600px) {
    .search-form {
        flex-direction: column;
        
        
    } }
    .bnr-bg{
        width: 300px;
        height: 400px;   
    }

    /*section-2   */
    .packages {
        display: inline-flex;
        margin-top: 100px;
        margin-left: 135px;
        margin-right: 135px;
        justify-content: space-between;
        gap: 20px;
        width: 800px;
    }
    .btn{
        height: 30px;
        border: none;
        border-radius: 8px;
        color: #FFF;
    }
    

@media screen and (min-width: 992px) {
    .packages{
        flex-direction: row;
    }

}
@media screen and (max-width: 600px) {
    .packages{
flex-direction: column;
    }
}

/* section go */
.go-text{
     
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
   
    margin-right: 480px;
    margin-left: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
}
@media screen and (min-width: 992px) {
    .go-text{
        flex-direction: column;
    }
}
@media screen and (max-width: 600px) {
    .go-text{
        flex-direction: row;
    }
}

.go-img{
    width: 1400px;
    margin-left: 135px;
    margin-right: 135px;
    gap: 10px;
}
@media screen and (min-width: 992px) {
     .go{
        flex-direction: column;
    }
}
@media screen and (max-width: 600px) {
     .go{
        flex-direction: grid;
    }
}

/* why choose us */
.choose-text{
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-right: 360px;
    margin-left: 100px;
}
@media screen and (min-width: 992px) {
    .choose-text{
        flex-direction: column;
    }
}
@media screen and (max-width: 600px) {
    .choose-text{
        flex-direction: grid;
    }
}

 .us{
    
    border: 2px solid rgba(255, 192, 203, 0.228);;
    border-radius: 10px;
    background-color: rgba(255, 192, 203, 0.228);
   
 }
 .us-2{
    border: 2px solid rgb(215, 250, 248);;
    border-radius: 10px;
background-color: rgb(215, 250, 248);
}
.two-box{
    display: flex;
    gap: 10px;
    margin-left: 200px;
}
.guarantee {
    border: 2px solid rgb(236, 255, 196);
   margin-top: 10px;
   width: 400px;
   border-radius: 10px;
   background-color: rgb(236, 255, 196);
   margin-left: 300px;
}
@media screen and (min-width: 992px) {
    .two-box{
        flex-direction: initial;
    }
}
@media screen and (max-width: 600px) {
    .two-box{
        flex-direction: row;
    }
  
    

@media screen and (min-width: 992px) {
    .guarantee{
        flex-direction: initial;
    }
}

}.newss{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: 200px;
    gap: 20px;
}
.news-container{
    display: grid;
    width: 300px;
}
.news-image{
    position: relative;
    display: inline-block;
}
.logo{
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 20px;
    z-index: 1;
    transform: rotate(140deg);
}
.image{

}
.underline::after{
    content: "";
    display: block;
    border-bottom: 1px solid black;
    margin-top: 10px;
}

@media screen and (min-width:992px) {
    .newss{
        flex-direction: row;
    
}

}
@media screen and (max-width: 600px) {
    .newss {
        flex-direction: column;
        
        
    } }

   
    .footer-text{
        display: flex;
        gap: 10px;
      margin-left: 300px;
      margin-top: 30px;
    }
    .paragraph{
       margin-left: 100px; 
       margin-right: 500px;
    }
    .icones{
        margin-left: 200px;
        
    }

    .icones::after{
        content: "";
        display: block;
        border-bottom: 1px solid black;
        margin-top: 10px;
        margin-left: 100px;
        margin-right: 500px;
    }
    .footer-container{
        display: grid;
        margin-top: 40px;
        grid-template-columns: repeat(1, 1fr);
        background-color: aliceblue;
    }
    @media screen and (min-width:992px) {
        .footer-container{
            flex-direction: row;
        
    }
    
    }
    @media screen and (max-width: 600px) {
        .footer-container {
            flex-direction: column;
            
            
        } }